.userregistration_body {
    height: 100vh;
    background-color: #f2f2f2;
}

.registration_wrapper {
    /* background-image: url("D:\Tushar\Projects\Plywood Shop\Playwoodshop-Manegment\src\Imgs\Plywood1.png");
    background-repeat: no-repeat;
    background-size: 510%;
    background-position:bottom  ; */
    /* background-color: #fff; */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
}

.registraion_form_container {
    display: flex;
    flex-direction: column;
    background-color: #e5f5ff65;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.116);
}

.emp_reg_form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.emp_reg_input_field {
    flex: 1 1 calc(25% - 30px);
    margin-bottom: 15px;
    min-width: 200px;
}

.emp_reg_input_field label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.emp_reg_input_field input,
.emp_reg_input_field select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
}

.emp_reg_input_field select {
    appearance: none;
    /* Removes default styling on select elements */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjNjY2NjY2IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTIgMTZsLTgtOGgxNnoiLz48cGF0aCBkPSJNMTIgMTZoMTR2LTRoLTE0eiIvPjwvc3ZnPg==');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    cursor: pointer;
}

.emp_reg_input_field select:hover,
.emp_reg_input_field select:focus {
    border-color: #007bff;
}

.submit_button {
    margin: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.submit_button:hover {
    background-color: #0056b3;
}

.title h1 {
    text-shadow: 4px 4px 5px #00000052;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 160px;
    text-align: center;
    white-space: nowrap;
    padding-bottom: 13px;
}

.title>h1:before {
    background-color: #c50000;
    content: '';
    display: block;
    height: 3px;
    width: 175px;
    margin-bottom: 10px;
}